<div class="feed-container">
  <!-- Songs Section -->
  <h2 class="section-title" style="margin: 1.5rem 0 1rem 0;">Songs</h2>
  <div class="horizontal-list-wrapper">
    <div class="horizontal-list" #songList>
      <div class="card" *ngFor="let song of feedItems.songs">
        <div class="basic-info">
          <img [src]="song.imageUrl" alt="{{song.title}}" class="album-photo">
          <div>
            <h3>{{ song.title }}</h3>
            <p>{{ song.artist.name }}</p>
            <div class="genres">
              <span *ngFor="let g of song.genres">{{ g }}</span>
              <p><strong>Rating:</strong> {{ (song.ratingSum / song.ratingCount) | number:'1.1-1' }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="pagination" style="margin-top: 0.5rem;">
      <button (click)="scrollPrev(songList)"><</button>
      <button (click)="scrollNext(songList)">></button>
    </div>
  </div>

  <!-- Albums Section -->
  <h2 class="section-title" style="margin: 1.5rem 0 1rem 0;">Albums</h2>
  <div class="horizontal-list-wrapper">
    <div class="horizontal-list" #albumList>
      <div class="card" *ngFor="let album of feedItems.albums">
        <div class="basic-info">
          <img [src]="album.imageUrl" alt="{{ album.title }}" class="album-photo">
          <div>
            <h3>{{ album.title }}</h3>
            <p>{{ album.artist.name }}</p>
            <div class="genres">
              <span *ngFor="let g of album.genres">{{ g }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="pagination" style="margin-top: 0.5rem;">
      <button (click)="scrollPrev(albumList)"><</button>
      <button (click)="scrollNext(albumList)">></button>
    </div>
  </div>
</div>
