<div class="song-card">

  <!-- Horizontal container for title + info and photo -->
  <div class="song-top" style="display: flex; gap: 1rem; align-items: stretch;">

    <!-- Left side: title + info -->
    <div class="song-info" style="flex: 1; display: flex; flex-direction: column; gap: 0.5rem;">
      <h2>{{ song.title }}</h2>
      <p style="margin-top: 0">Artists: {{song.artist?.name}}</p>
      <p  style="margin-top: 0">Other artists:
        <span *ngFor="let a of song.otherArtists; let last = last">
          {{ a.name }}<span *ngIf="!last">, </span>
        </span>
      </p>
      <div class="genres">
        <span *ngFor="let genre of song.genres">{{ genre }}</span>
      </div>
    </div>

    <!-- Right side: photo fills the full height -->
    <img [src]="photoPath" alt="Song photo" class="song-photo" />

  </div>

  <div class="actions">
    <button (click)="playSong()">
      {{ isPlaying ? '⏸Pause' : '▶ Play' }}
    </button>
    <button *ngIf="authService.loggedInUser?.role==UserRole.Admin" (click)="goToEdit()">✎ Edit</button>
    <button *ngIf="authService.loggedInUser?.role==UserRole.Admin" (click)="deleteSong()">🗑 Delete</button>
    <button *ngIf="authService.loggedInUser?.role==UserRole.AuthUser" (click)="rateSong()">★ Rate</button>
    <button *ngIf="authService.loggedInUser?.role==UserRole.AuthUser" (click)="downloadSong()">⬇ Download</button>

  </div>

  <div class="other-info">
    <div *ngFor="let key of song.other || {} | keyvalue">
      <strong>{{ key.key }}:</strong>&nbsp;
      <span *ngIf="key.key === 'createdAt'">{{ formatDate(key.value) }}</span>
      <span *ngIf="key.key !== 'createdAt'">{{ key.value }}</span>
    </div>
  </div>

</div>


<app-dialog
  *ngIf="showDialog"
  [type]="dialogType"
  [title]="dialogTitle"
  [message]="dialogMessage"
  (rated)="onSongRated($event)"
  (closed)="onDialogClosed($event)">
</app-dialog>
