<div class="album-details" *ngIf="album">
  <div class="album-header">
    <div class="album-info">
      <h2>{{ album.title }}</h2>
      <p><strong>Artists:</strong> {{ album?.artist?.name }}</p>
      <div *ngFor="let o of album.other | keyvalue">

      </div>
      <p><strong>Details: </strong> {{ album?.details }}</p>
      <div class="genres">
        <span *ngFor="let genre of album.genres" class="genre-chip">{{ genre }}</span>
      </div>
    </div>

    <img [src]="photoPath" alt="Album photo" class="album-photo">
  </div>

  <h3>Tracks</h3>
  <div class="track-list">
    <div *ngFor="let track of album.tracks"
         class="track-item"
    >

      <div class="track-actions" *ngIf="authService.loggedInUser?.role == UserRole.AuthUser">
        <button (click)="rateTrack(track, $event)">★ Rate</button>
        <button (click)="downloadTrack(track, $event)">⬇ Download</button>
      </div>

      <span>
        {{ track.title }}
              <ng-container *ngIf="track.otherArtists?.length">
          (ft.
          <ng-container *ngFor="let a of track.otherArtists; let last = last">
            {{ a.name }}<span *ngIf="!last">, </span>
          </ng-container>
          )
        </ng-container>


         <ng-container *ngIf="track.ratingCount > 0">
          — <span class="rating">
            ★ {{ (track.ratingSum / track.ratingCount) | number:'1.1-1' }}
          </span>
          <span class="rating-count">({{ track.ratingCount }})</span>
        </ng-container>
        <ng-container *ngIf="!track.ratingCount">
          — <span class="rating">No ratings yet</span>
        </ng-container>
      </span>


      <button class="play-btn"
        [class.playing]="currentTrack === track.songId && isPlaying"
        (click)="playTrack(track)"
      >
        {{ currentTrack === track.songId && isPlaying ? '⏸ Pause' : '▶ Play' }}
      </button>
    </div>
  </div>
</div>

<app-dialog
  *ngIf="showDialog"
  [type]="dialogType"
  [title]="dialogTitle"
  [message]="dialogMessage"
  (rated)="odTrackRated($event)"
  (closed)="onDialogClosed($event)"
>
</app-dialog>

