<div class="card" (click)="openArtistSongs()">
  <h3>{{ artist?.name }}</h3>
  <p>{{ artist?.bio }}</p>
  <div class="genres">
    <span *ngFor="let genre of artist?.genres">{{ genre }}</span>
  </div>
  <div class="actions" style="display: flex; justify-content: flex-start; margin-top: 8px;">
    <button style="font-size: 14px;" (click)="subscribeToArtist()">Subscribe</button>
    <button *ngIf="userRole === 'Admin'" (click)="delete($event)" style="font-size: 14px;">Delete</button>
  </div>
</div>


<app-dialog
  *ngIf="showDialog"
  [type]="dialogType"
  [title]="dialogTitle"
  [message]="dialogMessage"
  (closed)="onDialogClosed($event)">
</app-dialog>
