<div class="card" (click)="openAlbum()" style="cursor: pointer; display: flex; align-items: center; justify-content: space-between;">
  <div class="card-text">
    <h3>{{ album?.title }}</h3>
    <p>Author: {{album?.artistId}}</p>
    <div class="genres">
      <span *ngFor="let genre of album?.genres">{{ genre }}</span>
    </div>

    <div class="actions" style="display: flex; justify-content: flex-start; margin-top: 8px;">
      <button *ngIf="authService.loggedInUser?.role==UserRole.Admin" style="font-size: 14px;"
              (click)="goToEdit(); $event.stopPropagation()">✎ Edit</button>
      <button *ngIf="authService.loggedInUser?.role==UserRole.Admin" style="font-size: 14px;"
              (click)="deleteAlbum(); $event.stopPropagation()">🗑 Delete</button>
    </div>
  </div>

  <img [src]="photoPath" alt="Album photo" class="album-photo">
</div>

<app-dialog
  *ngIf="showDialog"
  [type]="dialogType"
  [title]="dialogTitle"
  [message]="dialogMessage"
  (closed)="onDialogClosed($event)">
</app-dialog>
