<div class="genres-page">

  <div class="horizontal-list-wrapper" *ngIf="genres.length > 0">
    <button class="scroll-btn left" (click)="scrollGenres(-1)">‹</button>

    <div class="horizontal-list" #genreList>
      <div
        class="genre-card card"
        *ngFor="let genre of genres"
        (click)="selectGenre(genre)"
        tabindex="0"
        role="button"
        (keydown.enter)="selectGenre(genre)"
      >
        <h3>{{ genre.name }}</h3>
        <button class="subscribe-btn" (click)="subscribeToGenre(genre, $event)">
          Subscribe
        </button>
      </div>
    </div>

    <button class="scroll-btn right" (click)="scrollGenres(1)">›</button>
  </div>

  <div *ngIf="selectedGenre" class="albums-section" >
    <div *ngIf="albumsAndArtistsForGenre.artists.length > 0">
      <h2 class="section-title">Artists for "{{ selectedGenre.name }}"</h2>
      <div class="all-items-grid">
        <app-artist-card
          *ngFor="let artist of albumsAndArtistsForGenre.artists"
          [artist]="artist"
        ></app-artist-card>
      </div>
    </div>

    <div *ngIf="albumsAndArtistsForGenre.albums.length > 0">
      <h2 class="section-title">Albums for "{{ selectedGenre.name }}"</h2>
      <div class="all-items-grid">
        <app-album-card
          *ngFor="let album of albumsAndArtistsForGenre.albums"
          [album]="album"
        ></app-album-card>
      </div>
    </div>
  </div>
</div>

<app-dialog
  *ngIf="showDialog"
  [type]="dialogType"
  [title]="dialogTitle"
  [message]="dialogMessage"
  (closed)="onDialogClosed($event)">
</app-dialog>
