<nav class="navbar">
  <div class="navbar-left">
    <button class="menu-btn" (click)="toggleMenu()" *ngIf="loggedInUser">☰</button>
    <a class="navbar-brand" routerLink="/">CloudMusicApp</a>
  </div>

  <div class="nav-actions">
    <button *ngIf="!isLoggedIn" (click)="login()">Login</button>
    <button *ngIf="isLoggedIn" class="logout" (click)="logout()">Logout</button>
  </div>
</nav>

<div class="sidebar" [class.open]="menuOpen" *ngIf="loggedInUser">
  <a class="close-btn" (click)="toggleMenu()">×</a>
  <ul>
    <li><a routerLink="/home" routerLinkActive="active" (click)="toggleMenu()">Homepage</a></li>
    <li><a routerLink="/discovery" routerLinkActive="active" (click)="toggleMenu()">Discovery</a></li>

    <li><a routerLink="/artists" routerLinkActive="active" (click)="toggleMenu()">All artists</a></li>
    <li><a routerLink="/albums" routerLinkActive="active" (click)="toggleMenu()">All albums</a></li>
    <li><a routerLink="/songs" routerLinkActive="active" (click)="toggleMenu()">All songs</a></li>
    <li><a *ngIf="loggedInUser?.role=='Admin'" routerLink="/artists/create" routerLinkActive="active" (click)="toggleMenu()">Create artist</a></li>
    <li><a *ngIf="loggedInUser?.role=='Admin'" routerLink="/songs/create" routerLinkActive="active" (click)="toggleMenu()">Create song</a></li>
    <li><a *ngIf="loggedInUser?.role=='Admin'" routerLink="/albums/create" routerLinkActive="active" (click)="toggleMenu()">Create album</a></li>
  </ul>
</div>

<div class="overlay" *ngIf="menuOpen" (click)="toggleMenu()"></div>
