.horizontal-list-wrapper {
  position: relative;
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

.horizontal-list {
  display: flex;
  gap: 16px;
  scroll-behavior: smooth;
  overflow-x: auto;
  padding-bottom: 24px; 
  scrollbar-width: none;
}

.horizontal-list::-webkit-scrollbar {
  display: none;
}
.scroll-dots {
  position: absolute;
  bottom: 4px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 6px;
}

.scroll-dots span {
  width: 8px;
  height: 8px;
  background: #555;
  border-radius: 50%;
  display: block;
  transition: background 0.3s;
}

.scroll-dots span.active {
  background: #50C878;
}

.song-grid {
  display: grid;
  gap: 1rem;
  margin-bottom: 1rem;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.pagination button {
  background-color: #50C878;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  color: #1e1e1e;
  font-weight: 600;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}